<form method="post" action="{{ path('users_delete_admin', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer votre compte?');">
    <button class="btn">Supprimer</button>
</form>
