{% extends "base.html.twig" %}


{% block body %}

    <h2>Formulaire Envoyé ! </h2>
    <h3> Nous venons de vous envoyez un mail pour réinitialisé votre mot de passe. L'équipe My Garden</h3>

{% endblock %}