header > nav {
    padding: 10px;
}

header {
    width: 100%;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

footer {
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 30px;
}

footer > p {
    padding: 10px;
    margin: 0;
    color: blue;
}

#main {
    margin: auto;
    width: 100%;
    background-color: #469fa7c2;
}

#hamburger-menu > a {
    display: inline-block;
    background-color: #9dbee4a3;
    width: auto;
    padding: 10px;
    border-radius: 25px;
    margin-right: 15px;
    color: #286348;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#hamburger-menu > span {
    background: white;
    border-radius: 1em;
    padding: 10px;
    /*padding-bottom: 10px;*/
    font-weight: bold;
    font-size: 3vw;
    color: black;
    display: none;
    text-align: center;
    line-height: 5px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}


.container_bigTitle {
    text-align: center;
}

.BigTitle {
    color: darkmagenta;
    box-shadow: 15px 10px 10px #56888a;
    display: inline-block;
    padding: 10px;
}

.Title {
    color: darkmagenta;
    text-decoration: underline;
}

Form {
    text-align: center;
}

label {
    color: #233e56;
}

input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    background-color: lightgrey;
}

#form_Rechercher, #form_Inscription, #form_Connexion, #Send, #form_Envoyer, #form_Valider, #form_Creer, #form_Modifier, .form_Supprimer, #form_Poster, .Bouton {
    width: 15%;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}


#form_Connexion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Center {
    text-align: center;
}

button {
    background-color: #41bffbcc;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #c70c0c;
    border-radius: 20px;
    text-align: center;
}

textarea {
    width: 40vw;
    height: 10vw;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid gray;
}

.Oblig {
    text-align: center;
    color: wheat;
}

.ReturnList {
    color: #5041bf;
}

.Error {
    color: red;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
}

.BlockU {
    text-align: center;
}

.NameU {
    color: #aa2dbf;
}

.WorkU {
    color: #c5750d;
}

.UsernameU {
    color: #193da5;
}

.RegionU {
    color: #cc0c0cde;
}

.VilleU {
    color: #e2384ed6;
}

.DescriptionU {
    color: #2634e8e0;
}

.BlockA {
    text-align: center;
}

.NameA {
    font-size: 25px;
    font-weight: bolder;
    color: #9118c1;
    text-decoration: underline;
}

.DescriptionA {
    color: #054805;
}

.LatinA {
    color: #d2780f;
}

.ToxiciteA {
    color: #e81414b3;
}

.EnvironnementA {
    color: green;
}

.AchatA {
    color: #1a1ab9bf;
}

.PublicationP {
    color: #864517;
}

.Categorie {
    text-decoration: underline;
    font-size: 17px;
    color: darkblue;
}

.BlockCategorie {
    margin-top: 40px;
    margin-bottom: 40px;
}

.NameC {
    font-size: 20px;
    color: #a71511;
    font-weight: bold;
}

.DescriptionC {
    text-align: center;
    color: #d6143f;
}

.DateC {
    float: right;
}

.DateA, .DateC, .DateCP {
    font-weight: bolder;
    color: #c78113;
}

.Lien {
    text-align: center;
}

.Sous-Lien {
    background-color: #7ec2fda8;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    padding-left: 40px;
    text-align: center;
    padding-right: 40px;
    text-decoration: none;
    box-shadow: 10px 5px 5px #56888a;
    margin-right: 10px;
    margin-left: 10px;
}

.CarteUser, .CarteArticle, .CarteComment, .CarteCategorie, .CartePublication {
    text-align: center;
    border: darkred dotted;
    border-radius: 20px;
    margin: 10px;
}

.navigation {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 25px;
}

#Previous, #Next {
    width: 40px;
    height: 40px;
}

.Carousel {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}

@media (max-width: 812px) {
    #main {
        width: 100%;
    }

    #hamburger-menu > a {
        display: none;
    }

    #hamburger-menu > span {
        display: inline-block;
    }

    #hamburger-menu:hover > a {
        width: 80%;
        display: block;
        margin: 10px auto;

    }

    #hamburger-menu:hover > span {
        transform: rotate(90deg);
        transition-property: transform;
        transition-duration: 0.5s;
    }
}
