{% extends "base.html.twig" %}

{% block body %}

    {{ form(form) }}

    {{ include('admin/Users/delete.html.twig') }}

    <div class="Center">
        <a href="{{ path('users') }}" class="ReturnList">Retourner sur la liste</a>
    </div>
{% endblock %}