{% extends "base.html.twig" %}

{% block body %}
    {{ form(form) }}

    {{ include('admin/Categories/delete.html.twig') }}

    <a href="{{ path('categories') }}">Retourner sur la liste</a>
{% endblock %}