{% extends "base.html.twig" %}

{% block body %}
    {{ form(form) }}

    {{ include('admin/Categories/delete.html.twig') }}
    <div class="Center">
        <a href="{{ path('categories') }}" class="ReturnList">Retourner sur la liste</a>
    </div>
{% endblock %}