{% extends "base.html.twig" %}

{% block body %}
    {% for categorie in categories %}
        <div class="CarteCategorie">
            <p><span class="Categorie">Nom</span> {{ categorie.name }}</p>
            <p><span class="Categorie">Activé</span> {{ categorie.active ? 'Oui' : 'Non' }}</p>
            <p><span class="Categorie">Actions</span>
                <a href="{{ path('categories_edit', {'id': categorie.id}) }}">Modifier</a>
            </p>
        </div>
    {% else %}
        <p>Aucun résultat trouvé</p>
    {% endfor %}
    <div class="Center">
    <a href="{{ path('categories') }}" class="ReturnList">Retourner sur la liste</a>
    </div>
{% endblock %}