{% extends "base.html.twig" %}

{% block body %}

    <h1>Vous voulez nous contactez?</h1>

    <h3 style="text-align: center">Activation de compte, activation d'articles, des questions un problème etc.. ?</h3>

    <div class="Form">

    </div>
{% endblock %}