{% extends "base.html.twig" %}

{% block body %}

    <h2 class="Title">Vous voulez nous contactez</h2>

    <form class="formulaire Contact" action="{{ path('send_mail') }}" method="post">
        <div>
            <input type="text" id="Nom" name="Nom" placeholder="Nom et Prénom" required>
            <br>
            <input type="text" id="Email" name="Email" placeholder="Votre Adresse email" required>
            <br>
            <input type="text" id="Objet" name="Objet" placeholder="Objet de votre message" required>
            <br>
            <textarea name="Message" id="Message" cols="30" rows="10" placeholder="Votre message" required></textarea>

            <div id="BoutonMail">
                <button type="submit" id="Send" name="Send"> Envoyer </button>
            </div>
        </div>
    </form>
{% endblock %}