Nous avons reçu une demande de réinitialisation de votre mot de passe <br>
Cliquez simplement sur le lien ci-dessous pour créer un nouveau mot de passe <br>
<a href='localhost:8000{{ path('reinitialisation_password', {'verif': verif}) }}'> Modifier votre mot de passe </a> <br>
Si le lien ne fonctionne pas il vous suffit de copier coller ceci localhost:8000{{ path('reinitialisation_password', {'verif': verif}) }} <br>
Si finalement vous ne voulais pas modifier votre mot de passe pas de panique votre ancien
mot de passe et toujours valable! <br>
Très bonne journée, à bientôt <br>
L'équipe MyGarden !